<div id="list">
  <h3 class="text-center text-white pt-5">Apps list</h3>
  <div class="container">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">App 1</h5>
              <p class="card-text">Lorem ipsum dolor sit amet.</p>
              <a href="http://localhost:4201" class="btn btn-primary" target="_blank">Open</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">App 2</h5>
              <p class="card-text">Lorem ipsum dolor sit amet.</p>
              <a href="http://localhost:4201" class="btn btn-primary" target="_blank">Open</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-3">
        <button type="button" class="btn btn-danger" (click)="logOut()">Log out</button>
      </div>
    </div>
  </div>
</div>
